{% extends "admin/change_list.html" %}

{% block content %}
  <form action="discountrulecode/csv_import/" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div>
      <label for="file">Wybierz plik:</label>
      <input type="file" name="file" id="file">
    </div>
    <div>
      <button type="submit" , style="color: black; width: max-content; margin-left: auto;">Dodaj plik</button>
      <span>You can import your CSV here!</span>
    </div>
  </form>

  {{ block.super }}
{% endblock %}
